# Data Science Tools and Ecosystem

#### In this notebook, Data Science Tools and Ecosystem are summarized,

## **Objective**

1. First Create a Jupyter Notebook.
2. Second Insert code and markdown  cells.
5. Third Share your notebook throug GitHub.
6. Create a code cell to convert minutes to hours
7. List popular languages for Data Science.

### Some of the popular languages that Data Scientists use are:

1. Python
2. R
3. SQL

### But there are others:

4. Java
5. Scala
6. C++
7. others

### Some of the commonly used libraries used by Data Scientists include:

### Python

1. pandas
2. numpy
3. matplotlib
4. seaborn
5. tensorFLow
6. kera
7. scikit-learn
8. pytorch
### R
9. ggplot2
### Scala
10. vegas
11. BigDL

And other

### Data Science tools
|  Tool | Source   |
|---|---|
| DAX | Data |
| Gt Hub | DesOps |
| Jupyter Notebook | Repositories |

### Below are a few examples of evaluating arithmetic expressions in Python

In [80]:
x = 10
y = 2

print (x*y)

20

In [82]:
x = 10
y = 2

print (x-y)

8

In [84]:
print (x+y)

12

In [88]:
x = 10
y = 200

print (max(x,y))
print (min(x,y))

200
10

In [92]:
print ('This a simple arithmetic expression to mutiply then add integers')
(3*4)+5

This a simple arithmetic expression to mutiply then add integers

17

### Code to convert minutes to hours

In [99]:
minuts = 200
hours = minuts/ 60
hours

3.3333333333333335

## Author
### Liliana Adriana Mendoza Saboya